@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

body {
    @apply font-sans text-slate-900 antialiased dark:text-white scroll-smooth;
}


.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.blurry-background {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(8px); /* For Safari support */
}

details > summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display:none;
}