@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

body {
    @apply font-sans text-slate-900 antialiased dark:text-white scroll-smooth transition-colors duration-300;
}


.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.blurry-background {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(8px); /* For Safari support */
}

details > summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display:none;
}

.star-1:hover {@apply text-yellow-500;}
.star-2:hover {@apply text-yellow-500;}
.star-3:hover {@apply text-yellow-500;}
.star-4:hover {@apply text-yellow-500;}
.star-5:hover {@apply text-yellow-500;}

.star-2:hover ~ .star-1 {@apply text-yellow-500;}

.star-3:hover ~ .star-2,
.star-3:hover ~ .star-1 {@apply text-yellow-500;}

.star-4:hover ~ .star-3,
.star-4:hover ~ .star-2,
.star-4:hover ~ .star-1 {@apply text-yellow-500;}

.star-5:hover ~ .star-4,
.star-5:hover ~ .star-3,
.star-5:hover ~ .star-2,
.star-5:hover ~ .star-1 {@apply text-yellow-500;}
